@tailwind base;
@tailwind components;
@tailwind utilities;

.background-image
{
    background-image: url('https://cdn.pixabay.com/photo/2020/02/29/06/35/race-4889229__340.png');
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
}
